.title{
    display: flex;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    font-weight: 60;
    border: 10px solid;
    border-radius: 5%;
    border-color: white;
    overflow: hidden;
}

body{
    background-image: url(Imagenes/Login.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.input-group input[type="text"],
.input-group input[type="password"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 10px 0;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    padding-left: 40px;
}
    

.btn{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    padding-left: 110px;
    padding-right: 110px;
}

.btn:hover{
    background-color: grey;
    color: white;
}

.forgot-password{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -35px;
}

.forgot-password a{
    color: white;
    text-decoration: none;
}

.remember-me{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    font-weight: 60;
    border: 10px solid;
    border-radius: 5%;
    border-color: white;
    overflow: hidden;
}


/* Agrega una transición suave y mueve el formulario */
.container-form {
    transition: transform 0.3s;
    transform: translateX(100%);
}
.container-form.active {
    transform: translateX(0%); /* O la distancia que desees */
}

.container-form #Register {
    transform: translateX(-50%);
}

.container-form #login-form {
    transform: translateX(0%);
}